body{
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
html{
    font-family: 'Open Sans',sans-serif;
    box-sizing: border-box;
}
.panel{
    background-color: white;
    border-radius: 10px;
    padding: 8px 18px;
    width:100% ;
    max-width: 900px;
    display: flex;
    flex-direction:column;
    text-align: center;
    text-transform: uppercase;
}
.pricing-plan{
    border-bottom: 1px solid #e1f1ff;
    
}
/*.pricing-plan:last-child{
    border-bottom: none;
}*/
.pricing-img{
    margin-bottom: 10px;
    max-width: 100%;
    min-height: 180px;
}
.pricing-header{
    color: #888;
    font-size: 15px;
}
.pricing-features{
    
    color: #016ff9;
    list-style:none;
    padding: 20px;
    
}
.pricing-features-item{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 11px;
    line-height: 1.5;
    padding: 10px 0;
    border-top:1px solid #e1f1ff ;
}
/*.pricing-features-item:last-child{
    border-bottom: 1px solid #e1f1ff;
}*/
.pricing-price{
    color:#016ff9;
    display: block;
    font-size: 25px;
    font-weight: 600;
  
}
.pricing-button{
    width: 85px;
    height: 20px;
    border: 1px solid#9dd1ff;
    border-radius: 10px;
    color:#348efe;
    display: inline-block;
    padding: 10px 30px;
    text-decoration:none;
    margin:20px 0;
    transition:background-color 200ms ease-in-out ;
}
.pricing-button:hover,.pricing-button:focus{
    background-color:#9ac6ec;
}
.pricing-button.is-featured{
    background-color: #269aff;
    color:white;

}
@media(min-width:900px){
    .panel{
        flex-direction: row;
        max-height: 500px;
    }
    .pricing-plan{
        border-bottom: :none;
        border-right: 1px solid #e1f1ff;
        padding:25px 50px;
    }
    .pricing-plan:last-child{
        border-right: none;
    }
}